body {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
    font-family: sans-serif;
    background-image: linear-gradient(to right, rgb(182, 244, 146), rgb(51, 139, 147));
}

body h1, body p {
    color: white;
}


